<div class="container mt-3 text-center">
  <style>
    .custom-title {
      font-family: 'Arial', sans-serif;
      font-size: 30px;
      font-weight: bold;
      color: #0015ff;
      text-align: center;
      margin-bottom: 30px;
      text-transform: uppercase;
      padding-top: 50px;
    }

    .custom-body {
      font-family: 'Arial', sans-serif;
      font-size: 16px;
      color: #333; 
      text-align: center;
    }

    .professional-thead {
      background-color: #006edd; 
      border-bottom: 2px solid #dee2e6; 
    }

    .professional-th {
      padding: 15px; 
      text-align: center;
      background-color: #7883fc;
      font-size: 16px;
      color: #ffffff;
      font-weight: bold; 
    }
  </style>

  <h2 class="custom-title">List of Redevables</h2>

  <div class="custom-body">
    <table class="table">
      <thead class="professional-thead">
        <tr>
          <th scope="col" class="professional-th">Prenom</th>
          <th scope="col" class="professional-th">Nom</th>
          <th scope="col" class="professional-th">Cin</th>
          <th scope="col" class="professional-th">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let redevable of redevables">
          <td>{{ redevable.prenom }}</td>
          <td>{{ redevable.nom }}</td>
          <td>{{ redevable.cin }}</td>
          
          <td>
            <button class="btn btn-primary" (click)="openUpdateRedevableModal(redevable)">
              <i class="fas fa-pencil"></i> Update
            </button>
            <button class="btn btn-danger" (click)="deleteRedevable(redevable.id)" ><i class="fas fa-trash"></i> Delete</button> 
          </td>
        </tr>
      </tbody>
    </table>

    <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': showAddRedevableModal, 'd-block': showAddRedevableModal}">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Update Terrain</h5>
              <button type="button" class="close" (click)="closeUpdateRedevableModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form (submit)="updateRedevable()">
                <div class="form-group">
                  <label for="nom">Prenom:</label>
                  <input type="text" class="form-control" id="nom" [(ngModel)]="newRedevable.prenom" name="nom" required>
                </div>
                <div class="form-group">
                    <label for="nom">Nom:</label>
                    <input type="text" class="form-control" id="nom" [(ngModel)]="newRedevable.nom" name="nom" required>
                  </div>
                <div class="form-group">
                  <label for="description">Cin:</label>
                  <textarea class="form-control" id="description" [(ngModel)]="newRedevable.cin" name="description" required></textarea>
                </div>
                
      
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="closeUpdateRedevableModal()">Close</button>
                  <button type="submit" class="btn btn-primary">Update Redevable</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
