<div class="container mt-3">
    <h2 class="text-center">List of Terrains</h2>
    
    <button class="btn btn-primary mt-3" (click)="openAddTerrainModal()">Add Terrain</button>
  
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Surface</th>
          <th scope="col">Description</th>
          <th scope="col">Redevable</th>
          <th scope="col">Category</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let terrain of terrains">
          <td>{{ terrain.nom }}</td>
          <td>{{ terrain.surface }}</td>
          <td>{{ terrain.description }}</td>
          <td>{{ terrain.redevable?.prenom }}</td>
          <td>{{ terrain.category?.label }}</td>
          <td>
            <button class="btn btn-danger" (click)="deleteTerrain(terrain)"><i class="fafa-trash"></i> Delete</button>
           
          </td>
         
        </tr>
      </tbody>
    </table>
  
    <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': showAddTerrainModal, 'd-block': showAddTerrainModal}">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add Terrain</h5>
              <button type="button" class="close" (click)="closeAddTerrainModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form (submit)="addTerrain()">
                <div class="form-group">
                  <label for="nom">Nom:</label>
                  <input type="text" class="form-control" id="nom" [(ngModel)]="newTerrain.nom" name="nom" required>
                </div>
                <div class="form-group">
                  <label for="surface">Surface:</label>
                  <input type="text" class="form-control" id="surface" [(ngModel)]="newTerrain.surface" name="surface" required>
                </div>
                <div class="form-group">
                  <label for="description">Description:</label>
                  <textarea class="form-control" id="description" [(ngModel)]="newTerrain.description" name="description" required></textarea>
                </div>
      
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="closeAddTerrainModal()">Close</button>
                  <button type="submit" class="btn btn-primary">Add Terrain</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

